body {
    background: rgb(204, 204, 153);
    font-weight: lighter;
}

div {
    padding-top: 75px;
    margin: 1em;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

p img {
    margin-left: 10px;
    margin-right: 10px;
}


body h1 {
    text-align: center;
}

body script {
    text-align: center;
}

